.Movie-App {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Movie-App h1 {
    font-size: 3rem;
    letter-spacing: 0.9px;
    background: linear-gradient(90deg, rgba(249, 211, 180, 1)0%, rgba(249, 211, 180, 0) 100%);
     background-clip: text;
     /* color: aqua; */
     -webkit-text-fill-color: transparent;
     width: fit-content;
}

.search {
    width: 71%;
    background-color: #1f2123;
    box-shadow: 5px 5px 7px #1c1d1f;
    margin: 4rem 0 2 rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 1rem;
    outline: none;
    color: #a1a1a1;
    background: #1f2123;
}

.search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}